<h2>Editar livro</h2>

<form action="/edit/save" method="post">
<input type="hiddnen" value="{{book.id}}"name="id">
    <div>
        <label for="">Titulo: </label>
        <input type="text" name="name" placeholder="Digite o titulo" id="title" value ="{{book.name}}"> 
    </div>
    <div>
        <label for="">Numero de paginas: </label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro possui?" id="pageqty" value ="{{book.pageqty}}">
    </div>
    <button type="submit">Enviar</button>
</form>