<main>
    <h1>Home</h1>

{{#each books}}
<div class="books">
    <h3>Titulo: {{this.name}}</h3>
    <p>Quatidade de páginas: {{this.pageqty}}</p>
    <a href="/book/{{this.id}}">Ver mais</a>
</div>
{{/each}}
</main>